insmod vbe
insmod gfxterm
terminal_output gfxterm
set gfxmode=300x200x32

loadfont /boot/grub/fonts/unicode.pf2
set locale_dir=/boot/grub/locale
set lang=en_US

set timeout=-1
set default=0

menuentry "OS x86 Build" {
	echo "Loading OS x86 kernel..."
	set gfxmode=800x600x32
	multiboot2 /boot/oskernel
}

menuentry "GRUB Bash Test Program" {
	echo "Hello, what's your name? "
	read name
	echo ""
	echo "Hello, $name! "
	echo "(press any key to quit)"
	read
}
